# ClientLevel.getEntities
public net.minecraft.client.multiplayer.ClientLevel getEntities()Lnet/minecraft/world/level/entity/LevelEntityGetter; # getEntities

# AdvancementTabType
public net.minecraft.client.gui.screens.advancements.AdvancementTabType